@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff'); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-y94j5h');
  src: url('fonts/icomoon.eot?#iefix-y94j5h') format('embedded-opentype'), url('fonts/icomoon.ttf?-y94j5h') format('truetype'), url('fonts/icomoon.woff?-y94j5h') format('woff'), url('fonts/icomoon.svg?-y94j5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check:before {
  content: "\f00c"; }

.icon-twitter-square:before {
  content: "\f081"; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-linkedin-square:before {
  content: "\f08c"; }

.icon-github-square:before {
  content: "\f092"; }

.icon-code:before {
  content: "\f121"; }

.icon-rocket:before {
  content: "\f135"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-tumblr-square:before {
  content: "\f174"; }

.icon-child:before {
  content: "\f1ae"; }

.icon-codepen:before {
  content: "\f1cb"; }

.icon-facebook-official:before {
  content: "\f230"; }

.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6 {
  color: #00C599;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #00C599;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #2cffce; }

::-moz-selection {
  background: rgba(117, 223, 199, 0.5); }

::selection {
  background: rgba(117, 223, 199, 0.5); }

::-moz-selection {
  background: #75dfc7; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #75dfc7; }

body {
  background: #F6F6F8;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

svg {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.hide {
  text-indent: -999px;
  margin: 0; }

header {
  background-image: url(../img/photo.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 700px;
  overflow: hidden;
  text-align: center; }
  header nav {
    background: rgba(51, 51, 51, 0.2);
    overflow: hidden;
    margin: 0 auto;
    padding: 0; }
    header nav.fixed-navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      transition: all 0.3s; }
      @media (max-width: 500px) {
        header nav.fixed-navbar {
          position: relative; } }
    header nav.moved-navbar {
      background: #333; }
    header nav ul {
      list-style: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      text-align: center;
      padding: 15px 0; }
      header nav ul li {
        display: inline;
        margin-left: 20px; }
      header nav ul a {
        display: inline-block;
        color: white;
        font-weight: 400; }
  header h1 {
    clear: both;
    padding-top: 180px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 47px;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px; }
    header h1 span {
      color: #149381; }
  header p {
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300;
    color: white;
    letter-spacing: 5px; }
    header p span {
      font-size: 25px; }
  header .button-container {
    margin-top: 100px; }
  header .button {
    padding: 15px 14px;
    border-radius: 10px;
    border: 2px solid white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    transition: all 0.5s; }
    header .button:hover {
      color: #00C599;
      background: white; }

#about {
  background-color: #eff0f2;
  font-size: 20px;
  position: relative; }
  #about h2 {
    margin: 0; }
  #about p {
    max-width: 780px;
    margin: 0 auto;
    padding: 70px 0 145px 0;
    text-align: center;
    line-height: 48px; }
  #about strong {
    color: #00C599; }
  #about .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
    text-align: center;
    bottom: -75px;
    transition: all 0.5s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    #about .avatar:hover {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }
    #about .avatar .coin {
      position: absolute;
      height: 150px;
      width: 150px;
      border: 2px solid white;
      border-radius: 50%;
      -webkit-perspective: 1000px;
              perspective: 1000px;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    #about .avatar .front {
      background: url(../img/8bitme.png);
      background-size: contain;
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg); }
    #about .avatar .back {
      background: url(../img/av.png);
      background-size: contain;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }

#skills {
  padding: 125px 0 75px 0;
  overflow: hidden; }
  #skills .container {
    max-width: 750px;
    margin: 0 auto; }
    #skills .container .skill-unit {
      background: #74B759;
      float: left;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 20px 10px 10px;
      margin-bottom: 10px;
      color: white;
      width: 24%;
      margin-right: 1%; }
      #skills .container .skill-unit:nth-child(4n) {
        margin-right: 0; }
      #skills .container .skill-unit .ico-holder {
        width: 20px;
        float: left;
        margin-right: 20px;
        background-color: rgba(51, 51, 51, 0.3);
        border-radius: 5px;
        text-align: center; }
      #skills .container .skill-unit p {
        margin: 0;
        font-weight: bold; }
      #skills .container .skill-unit:first-child {
        background: #555; }
    @media (max-width: 750px) {
      #skills .container .skill-unit {
        width: 49%; } }
    @media (max-width: 400px) {
      #skills .container .skill-unit {
        width: 99%;
        margin-right: 0; } }

.quote {
  background: url(../img/photo3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 50px 0;
  color: white; }
  .quote p {
    display: block;
    background: rgba(51, 51, 51, 0.8);
    border-radius: 10px;
    padding: 20px 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px; }

#work {
  overflow: hidden;
  padding: 75px 0; }

.work-belt {
  width: 200%;
  position: relative;
  left: 0%;
  transition: all 800ms; }
  .work-belt.slided {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0); }

.thumb-wrap, .work-wrap {
  width: 50%;
  float: left; }

.thumb-container {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  clear: both; }
  .thumb-container label {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    cursor: pointer; }
    @media screen and (max-width: 760px) {
      .thumb-container label {
        width: 50%; } }
    .thumb-container label .thumb-unit {
      display: block;
      overflow: hidden; }
      .thumb-container label .thumb-unit img {
        display: block;
        max-width: 100%; }
    .thumb-container label .thumb-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0%;
      overflow: hidden;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      background: rgba(51, 51, 51, 0.7);
      text-align: center;
      transition: all 800ms;
      opacity: 0; }
      .thumb-container label .thumb-overlay strong {
        display: block;
        padding: 0 9%;
        color: white;
        font-weight: 900;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.2; }
    .thumb-container label:hover {
      z-index: 2; }
      .thumb-container label:hover .thumb-overlay {
        opacity: 1; }

.work-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  display: none; }
  .work-container h4 {
    color: #00C599;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
    margin: 0 0 20px; }
  .work-container img {
    max-width: 100%;
    margin-bottom: 20px; }
  .work-container .work-return {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: -4px;
    left: -60px; }
    .work-container .work-return path {
      fill: rgba(0, 0, 0, 0.4); }
    .work-container .work-return:hover {
      opacity: 1; }
  .work-container a h3 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px; }
  .work-container span {
    font-weight: bold;
    text-transform: uppercase; }

@media (max-width: 740px) {
  .work-container .work-return {
    left: 0; }
  .work-container h4 {
    margin-left: 60px; } }

#contact {
  padding: 75px 0;
  background: url(../img/photo2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat; }

form {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 20px; }
  form input, form textarea {
    border: 1px solid #00C599;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    appearance: none;
    font-size: 16px;
    border-radius: 10px; }
    form input:focus, form textarea:focus {
      outline: none; }
  form textarea {
    height: 10em;
    resize: none; }
  form .submit-wrap {
    border: none;
    text-align: right; }
  form [type="submit"] {
    background: #00C599;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    width: 33%; }
    form [type="submit"]:hover {
      background: #00C599; }
  form .contact-info-group {
    padding: 0;
    border: none; }
    form .contact-info-group label {
      width: 50%;
      float: left;
      box-sizing: border-box;
      display: block;
      margin-bottom: 20px; }
      form .contact-info-group label:nth-child(1) {
        padding-right: 10px; }
      form .contact-info-group label:nth-child(2) {
        padding-left: 10px; }
      @media (max-width: 750px) {
        form .contact-info-group label {
          width: 100%;
          padding: 0; }
          form .contact-info-group label:nth-child(n) {
            padding: 0; } }

footer {
  padding: 20px 0 5px 0;
  margin: 0;
  background: #777; }
  footer p {
    text-align: center;
    font-size: 25px;
    letter-spacing: 7px; }
    footer p i {
      color: rgba(255, 255, 255, 0.5); }
      footer p i:hover {
        color: white; }
